* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior:smooth
  /* min-height: 100vh; */
  /* semua buat bikin div bisa full layar  */
}

:root {
  --content: rgb(74, 121, 209);
  --button: rgb(0, 153, 255);
  --button-hover: rgb(0, 127, 211);
  --footer: rgb(17, 22, 90);
  --nav-font-size: 30px;
}

div {
  width: 100%;
}

.navbar {
  /* background-color: deepskyblue; */
  height: 100px;
  position: relative;
  top: 0;
  /* margin-top: -20px; */
}

.sticky {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar img {
  height: 75px;
  float: left;
  /* margin: 20px 10px 10px 20px; */
  margin-left: 20px;
  margin-top: 10px;

}

.navbar ul {
  list-style: none;
}

.navbar ul > li {
  display: inline-block;
  padding-top: 20px;
  margin-right: 20px;
}

.navbar ul > li > a{
  text-decoration: none;
  font-family: 'Gabarito', sans-serif;
  padding: 5px;
  color: rgb(9, 64, 136);
  font-size: var(--nav-font-size);
  margin-top: 5px;
  margin-left: 10px;
  display: block;
}

.navbar ul > li > a:hover, .dropbtn:hover {
  color: rgb(5, 43, 92);
}

.login-btn {
  float: right;
  margin-bottom: 20px;
  align-items: center;
}

.dropbtn {
  font-size: var(--nav-font-size);
  color: rgb(9, 64, 136);
  padding: 14px 16px;
  background-color: inherit;  
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Gabarito', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Gabarito', sans-serif;
  font-size: 17px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:nth-child(1) {
  border-radius: 20px 20px 0px 0px;
}

.dropdown-content a:nth-child(4) {
  border-radius: 0px 0px 20px 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Head and Content Page */

.headpage {
  height: 85vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, white, var(--content));
}

.headpage img {
  border-radius: 80px 24px 100px 25px;
}

.text-head {
  color: rgb(0, 0, 0);
  font-family: 'Gabarito', sans-serif;
  font-size: 20px;
  margin-left: auto;
  width: 400px;
  margin-right: 250px;
}

.text-head button {
  font-family: 'Gabarito', sans-serif;
  margin-top: 25px;
  margin: 10px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  padding: 5px;
  background-color: var(--button);
  outline: none;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.text-head button:hover {
  background-color: var(--button-hover);
  transition: 0.5s;
}

/* .text-head button:focus {
  box-shadow: 0px 0px 0px 3px rgb(1, 53, 102);
} */

.content {
  height: 100vh;
  background-color: var(--content);
}

.content-image {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0rem 3rem 0rem;
  color: antiquewhite;
}

.content-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-family: 'Gabarito', sans-serif;
  padding-top: 120px;
}

/* .content-image div {
  padding-left: 10px;
} */

.content-image div > p, .content-image > div > h3 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}

.content-image img {
  height: 250px;
  padding-left: 25%;
}

.pricing {
  height: 100vh;
  background-image: linear-gradient(180deg, var(--content), var(--footer));
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .cards::-webkit-scrollbar {
  display: none;
}

/* .example {
}  */

.cards {
  display: flex;
  white-space: nowrap;
  /* overflow: auto; */
  overflow-y: hidden;
  overflow-x: scroll;
  /* background-color: #b4c70a; */
  height: 70vh;
  /* justify-content: center; */
  margin-left: 290px;
  margin-right: 250px;
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  background-color: white;
  border-radius: 10px;
  height: 50vh;
  margin-left: 20px;
  font-family: 'Gabarito', sans-serif;
  margin-right: 20px;
  margin-top: 75px;
  text-align: center;
  line-height: 1.5;
}

.card {
  text-decoration: none;
  color: black;
}

.card h4 {
  font-weight: bold;
  font-size: x-large;
}

.card img {
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.card p {
  margin-left: 10px;
  margin-right: 10px;
  /* display: inline-block; */
}

.card span {
  color: rgb(63, 201, 255);
}

/* Footer Page */

footer {
  height: 30vh;
  color: antiquewhite;
  background-color: var(--footer);
  bottom: 0;
  font-size: 16px;
}

footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}

footer h3 {
  padding-bottom: 25px;
}

footer ul {
  list-style: none;
}

footer ul > li > a {
  text-decoration: none;
  color: white;
}

.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  /* min-height: 15em; */
}

.column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* .column ul > li:not(:first-child) {
  margin-top: 0.8em;
}
.column ul > li > a {
  color: #a7a7a7;
  text-decoration: none;
}
.column ul > li > a:hover {
  color: #c7940a;
} */

.about p {
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.about p > svg {
  margin-right: 8px;
  margin-left: 15px;
}

.about p > a {
  text-decoration: none;
  color: var(--content);
}

.about > p > a:hover {
  color: #0a4cc7;
}

.social {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  margin-top: 0.5em;
}

.social svg {
  color: #bac6d9;
  margin-left: 20px;
}

.link ul > li > a:hover {
  color: rgb(47, 80, 141);
}

.link ul > li > a {
  padding-left: 20px;
  line-height: 1.5;
}

.subscribe section > input,
.subscribe section > button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.subscribe section > button {
  background-color: var(--button);
  color: #ffffff;
}

.subscribe section > button:hover {
  background-color: var(--button-hover);
}

.copyright {
  height: 7vh;
  padding: 0.3em 1em;
  background-color: #25262e;
}

.footer-menu {
  float: left;
  margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}

.footer-menu a:hover, .social svg:hover{
  color: #0a4cc7;
}

.copyright p {
  font-size: 0.9em;
  text-align: right;
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
}